{% extends 'base_layout.html' %}
<!-- Comments---------------------------------------------------------------------------------------------------- -->
{% block content %}
    <section class="__customer-says">
        <div class="__container">
            <h1 class="__customer-says-title">Happy Customer Says...</h1>
            <div class="__comments">
                <div class="__comment">
                    <p class="__comment-text">“If you’re looking for a top quality hotel look no further. We were
                        upgraded free of charge to the Premium Suite, thanks so much”</p>
                    <span class="__triangle">ㅤ</span>

                    <span class="__customer-name"><i>John&nbsp;Doe</i></span>
                </div>
                <div class="__comment">
                    <p class="__comment-text">
                        “Me and my wife had a delightful weekend get away here, the staff were so friendly and
                        attentive. Highly Recommended”</p>
                    <span class="__triangle">ㅤ</span>

                    <span class="__customer-name"><i>Rob&nbsp;Smith</i></span>
                </div>

                <div class="__comment">
                    <p class="__comment-text">
                        “If you’re looking for a top quality hotel look no further. We were upgraded free of charge to
                        the Premium Suite, thanks so much”</p>
                    <span class="__triangle">ㅤ</span>

                    <span class="__customer-name"><i>Jane&nbsp;Doe</i></span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
