{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
<section class="section is-centered container1">
    <div class="columns">
        <div class="column">
            <img class="img_1" src="{% static 'images/location-dot-solid.svg' %}" alt="">
        </div>
        <div class="column">
            <p class="subtitle has-text-weight-bold">Accessible Location</p>
            <p class="has-text-grey">Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                language
                ocean.</p>
        </div>
        <div class="column">
            <img class="img_1" src="{% static 'images/clock-solid.svg' %}" alt="">
        </div>
        <div class="column">
            <p class="subtitle has-text-weight-bold">Open 24/7</p>
            <p class="has-text-grey">Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                language
                ocean.</p>
        </div>
        <div class="column">
            <img class="img_1" src="{% static 'images/calendar-regular.svg' %}" alt="">
        </div>
        <div class="column">
            <p class="subtitle has-text-weight-bold">Reservation</p>
            <p class="has-text-grey">Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                language
                ocean.</p>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <img class="img_1" src="{% static 'images/person-solid.svg' %}" alt="">
        </div>
        <div class="column">
            <p class="subtitle has-text-weight-bold">Friendly Staff</p>
            <p class="has-text-grey">Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                language
                ocean.</p>
        </div>
        <div class="column">
            <img class="img_1" src="{% static 'images/wifi-solid.svg' %}" alt="">
        </div>
        <div class="column">
            <p class="subtitle has-text-weight-bold">Free Wifi</p>
            <p class="has-text-grey">Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                language
                ocean.</p>
        </div>
        <div class="column is-centered">
            <img class="img_1" src="{% static 'images/location-dot-solid.svg' %}" alt="">
        </div>
        <div class="column">
            <p class="subtitle has-text-weight-bold">Accessible Location</p>
            <p class="has-text-grey">Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                language
                ocean.</p>
        </div>
    </div>
</section>
{% endblock  %}
